[Unit]
Description=Gauc
After=docker.service
Requires=docker.service

After=couchbase@%i.service

[Service]
EnvironmentFile=/etc/environment

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill gauc
ExecStartPre=-/usr/bin/docker rm gauc
ExecStartPre=/usr/bin/docker pull korczis/gauc
ExecStart=/usr/bin/docker run --name gauc -p 5000:5000 korczis/gauc -r -vvv -u couchbase://${COREOS_PRIVATE_IPV4}/default
ExecStop=/usr/bin/docker stop gauc

[X-Fleet]
# Don't schedule on the same machine as other Gauc instances
X-Conflicts=gauc@*.service
