[Unit]
Description=Announce Microcrawler Worker Instance @%i service
BindsTo=microcrawler-worker@%i.service

[Service]
EnvironmentFile=/etc/environment

ExecStart=/bin/sh -c "while true; do etcdctl set /discovery/services/microcrawler-worker@%i ${COREOS_PRIVATE_IPV4} --ttl 60; sleep 45; done"
ExecStop=/usr/bin/etcdctl rm /discovery/services/microcrawler-worker%i

[X-Fleet]
X-ConditionMachineOf=microcrawler-worker@%i.service
